@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Montserrat";
  font-weight: 800;
  letter-spacing: -0.05em;
}

p {
  font-family: "Manrope";
}

.cookieBg3 {
  background-image: url(./assets/Cookie3.jpeg);
}
